{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron text-center" style="min-height: 400px;">      
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <p style="font-size: 24px; font-weight: 300">{{page.venue}}</p>
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
        </div>
</div>
